.back {
    background-color: #ffffff;
    height: 100vh;
}

.adminmenu {
    background-color: #000000;
    margin-top: 63px;
    margin-bottom: 23px;
}

.adminop {
    background-color: #0D0D0D;
}

.adminos {
    background-color: #F4BE2C;
}

.menucenter {
    margin-top: 12vh;
}

.delpick {
    background-color: bisque;
}

.fromtop {
    margin-top: 80px;
}

.cen {
    text-align: center;
}

.ojoj {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

.card {
    background-color: #007bff!important;
}