.back {
    background-color: #ffffff;
    height: 100vh;
}

.adminmenu {
    background-color: #000000;
    margin-top: 63px;
    margin-bottom: 23px;
}

.adminop {
    background-color: #A77B06;
}

.menucenter {
    margin-top: 12vh;
}

.delpick {
    background-color: bisque;
}

.fromtop {
    margin-top: 80px;
}

.cen {
    text-align: center;
}